body{
    display: flex;
    flex-direction: column;
    color: #fff;
    line-height: 24px;
    background: #212721;
    font-size: 21px;
    margin: 40px;
    margin-top: 7px;
    font-family: source-sans;
}

.header_top{
    display: flex;
    width: 70px;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between; 
}

.header_top img{
    width: 270px;
    position: relative;
    right: 14px;
}

.header_bottom{
    display: flex;
    column-gap: 50px;
    border-bottom: 2px solid #00853D;
}

.stats{
    display: flex;
    gap: 20px;
}

#hamburger{
    align-self: flex-end;
    width: 50px;
    margin-left: auto;
    position: absolute;
    right: 31px;
    margin-top: 40px;
}

#done{
    display: none;
    align-self: flex-end;
    width: 35px;
    height: 35px;
    padding-top: 48px;
    position: absolute;
    right: 38px;
}

#menu{
    display: none;
    text-decoration: none;
}

#menu li{
    text-decoration: none;
    margin-inline: 10px;
    margin-right: 0;
    display: inline;
}

ul#menu{
    margin-block: 0;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

#coingecko{
    display: flex;
    flex-direction: row;
}

#coingecko img{
    display: flex;
    flex-direction: row;
    width: 125px;
    margin: auto;
}

p#coingecko{
    margin: auto;
}

@font-face {
    font-family: source-sans;
    src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}

/* lineup class and keyframes */
.lineUp {
    animation: 4s anim-lineUp ease-out 1;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-weight: 700;
}
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }